.container {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas:
    'nav nav nav nav'
    'info info login login'
    'info info login login'
    'info info login login'
    'info info login login';
}

.nav {
  grid-area: nav;
}
.info {
  grid-area: info;
}
.login {
  grid-area: login;
}


#mobile-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 425px;
}
.mobile-logo {
  background-color: var(--back-color);
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
}
.mobile-logo img {
  width: 50px;
  border-radius: 50%;
}
#login-form {
  text-align: center;
  border: 1px solid black;
}

ul .mobile {
  margin: 50px;
}

ul #fill {
  background: var(--input-color);
  width: 300px;
  height: 40px;
  font-size: 16px;
}
ul #button {
  background-color: var(--back-color);
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 24px;
}

@media only screen and (min-device-width: 425px) {
  .nav-bar {
    display: block;
  }
  .nav-bar ul {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
  }

  nav li:not(:nth-of-type(2)) {
    padding-right: 5px;
    margin-left: 40px;
  }
  .nav-bar ul img {
    width: 20px;
  }

  nav input[type='search'] {
    width: 400px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid var(--input-color);
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  main img {
    max-width: 500px;
    max-height: 500px;
  }
} */

